header nav{
    padding-top: 20px;
    padding-bottom: 25px;
}
.nav-right{
    right: 10px;
    top: 83px;
}
/*---------------------------------*/
footer{
    display: flex;
    flex-flow: row wrap;
}
.footer-slogan{
    width: 30%;
    max-width: 425px;
    margin: 0 auto;
    margin-bottom: 55px;
}
.footer-media{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 55px;
}
.footer-callcenter{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 55px;
}
/*---------------------------------*/
.store1 article h2 span, .store2 article h2 span{
    width: 60px;
    margin-top: 60px;
}
.store1 article picture img, .store2 article picture img{
    width: 400px;
    height: 400px;
}
.store1 article h2, .store2 article h2{
    font-size: var(--FontS-Large);
}
.store1 article p , .store2 article p{
    font-size: var(--FontS-Small);
    line-height: 30px;
}
/*------------------------------------------------------------------*/
.promotionTO-1{
    order: 1;
}
.middleTO-1{
    order:2;
}
.middleTO-2{
    order: 3;
}
.promotionTO-2{
    order:4;
}
.promotionTO-3{
    order: 5;
}
.middleTO-3{
    order: 6;
}
.middleTO-4{
    order: 7;
}
.promotionTO-4{
    order: 8;
}
.promotionTO-1,.promotionTO-2,.promotionTO-3,.promotionTO-4{
    width: 50%;
    padding: 60px 0px;
}
    .promotionTO-1 h2,.promotionTO-2 h2,.promotionTO-3 h2, .promotionTO-4 h2{
        text-align: center;
        font-size: var(--FontS-Medium);
        color: var(--Color-red);
    }
        .promotionTO-1 h2 span,.promotionTO-2 h2 span,.promotionTO-3 h2 span, .promotionTO-4 h2 span{
            display: block;
            width: 35px;
            height: 1.5px;
            margin: 0px auto;
            margin-top: 30px;
            background-color: var(--Color-red);
        }
    .promotionTO-1 img,.promotionTO-2 img,.promotionTO-3 img, .promotionTO-4 img{
        width: 70%;
        height: 250px;
        margin : 40px auto;
    }
    .promotionTO-1 div,.promotionTO-2 div,.promotionTO-3 div,.promotionTO-4 div{
        width: 70%;
        height: auto;
        display: flex;
        flex-flow:column nowrap;
        margin: 0 auto;
    }
        .promotionTO-1 div h3,.promotionTO-2 div h3,.promotionTO-3 div h3,.promotionTO-4 div h3{
            margin-bottom: 10px;
            font-size: var(--FontS-Small);
            color: bold;
        }
        .promotionTO-1 div p,.promotionTO-2 div p,.promotionTO-3 div p,.promotionTO-4 div p{
            font-size: var(--FontS-Esmall);    
        }
    .promotionTO-1 button, .promotionTO-2 button, .promotionTO-3 button,.promotionTO-4 button{
        width: 150px;
        height: 50px;
        margin: 0px auto;
        margin-top: 40px;
        background-color: var(--Color-orange);
        color: var(--Color-red);
        border: solid 2px var(--Color-red);
        border-radius: 20px;
        font-size: 1.8rem;
        font-weight: bold;
    }
        .promotionTO-1 button:hover, .promotionTO-2  button:hover, .promotionTO-3  button:hover,.promotionTO-4  button:hover{
           border: solid 4px var(--Color-red);
           box-shadow: var(--Color-dark) 0px 0px 8px;
        }
.middleTO-1,.middleTO-2,.middleTO-3,.middleTO-4{
    width: 50%;
    max-width: 600px;
    padding: 30px 0px;
    background-color: var(--Color-red);
}
    .middleTO-1 img,.middleTO-2 img,.middleTO-3 img,.middleTO-4 img{
        width: 120px;
        height: 120px;
    }

/*BREAK POINTS*/
@media(min-width:1000px){
    .desplegable-promotions p span,.desplegable-products p span,.desplegable-stores p span,.desplegable-home p span, .desplegable-home p span{
        display: none;
        width: 80%;
        margin: 0 auto;
    }
    .store1 article h2, .store2 article h2{
        font-size: var(--FontS-ExtraLarge);
    }
    .store1 article p , .store2 article p{
        font-size: 2.5rem;
        line-height: 40px;
    }
}
@media(min-width:1200px){
    .promotionTO-1{
        border-left: 1px solid var(--Color-red);
    }
    .promotionTO-2{
        border-right: 1px solid var(--Color-red);
    }
    .promotionTO-3{
        border-left: 1px solid var(--Color-red);
    }
    .promotionTO-4{
        border-right: 1px solid var(--Color-red);
    }
}