header nav{
    padding-top: 20px;
    padding-bottom: 25px;
}
.nav-right{
    right: 10px;
    top: 83px;
}
/*---------------------------------*/
footer{
    display: flex;
    flex-flow: row wrap;
}
.footer-slogan{
    width: 30%;
    max-width: 425px;
    margin: 0 auto;
    margin-bottom: 55px;
}
.footer-media{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 55px;
}
.footer-callcenter{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 55px;
}
/*---------------------------------*/
.store1 article h2 span, .store2 article h2 span{
    width: 60px;
    margin-top: 60px;
}
.store1 article picture img, .store2 article picture img{
    width: 400px;
    height: 400px;
}
.store1 article h2, .store2 article h2{
    font-size: var(--FontS-Large);
}
.store1 article p , .store2 article p{
    font-size: var(--FontS-Small);
    line-height: 30px;
}
/*-----------------------------------------------------------*/
.promotionML-1{
    order: 1;
}
.middleML-1{
    order:2;
}
.middleML-2{
    order: 3;
}
.promotionML-2{
    order:4;
}
.promotionML-3{
    order: 5;
}
.middleML-3{
    order: 6;
}
.middleML-4{
    order: 7;
}
.promotionML-4{
    order: 8;
}
.promotionML-1,.promotionML-2,.promotionML-3,.promotionML-4{
    width: 50%;
    padding: 60px 0px;
}
    .promotionML-1 h2,.promotionML-2 h2,.promotionML-3 h2, .promotionML-4 h2{
        text-align: center;
        font-size: var(--FontS-Medium);
        color: var(--Color-red);
    }
        .promotionML-1 h2 span,.promotionML-2 h2 span,.promotionML-3 h2 span, .promotionML-4 h2 span{
            display: block;
            width: 35px;
            height: 1.5px;
            margin: 0px auto;
            margin-top: 30px;
            background-color: var(--Color-red);
        }
    .promotionML-1 img,.promotionML-2 img,.promotionML-3 img, .promotionML-4 img{
        width: 70%;
        height: 250px;
        margin : 40px auto;
    }
    .promotionML-1 div,.promotionML-2 div,.promotionML-3 div,.promotionML-4 div{
        width: 70%;
        height: auto;
        display: flex;
        flex-flow:column nowrap;
        margin: 0 auto;
    }
        .promotionML-1 div h3,.promotionML-2 div h3,.promotionML-3 div h3,.promotionML-4 div h3{
            margin-bottom: 10px;
            font-size: var(--FontS-Small);
            color: bold;
        }
        .promotionML-1 div p,.promotionML-2 div p,.promotionML-3 div p,.promotionML-4 div p{
            font-size: var(--FontS-Esmall);    
        }
    .promotionML-1 button, .promotionML-2 button, .promotionML-3 button,.promotionML-4 button{
        width: 150px;
        height: 50px;
        margin: 0px auto;
        margin-top: 40px;
        background-color: var(--Color-orange);
        color: var(--Color-red);
        border: solid 2px var(--Color-red);
        border-radius: 20px;
        font-size: 1.8rem;
        font-weight: bold;
    }
        .promotionML-1 button:hover, .promotionML-2  button:hover, .promotionML-3  button:hover,.promotionML-4  button:hover{
           border: solid 4px var(--Color-red);
           box-shadow: var(--Color-dark) 0px 0px 8px;
        }
.middleML-1,.middleML-2,.middleML-3,.middleML-4{
    width: 50%;
    max-width: 600px;
    padding: 30px 0px;
    background-color: var(--Color-red);
}
    .middleML-1 img,.middleML-2 img,.middleML-3 img,.middleML-4 img{
        width: 120px;
        height: 120px;
    }

/*BREAK POINTS*/
@media(min-width:1000px){
    .desplegable-promotions p span,.desplegable-products p span,.desplegable-stores p span,.desplegable-home p span, .desplegable-home p span{
        display: none;
        width: 80%;
        margin: 0 auto;
    }
    .store1 article h2, .store2 article h2{
        font-size: var(--FontS-ExtraLarge);
    }
    .store1 article p , .store2 article p{
        font-size: 2.5rem;
        line-height: 40px;
    }
}
@media(min-width:1200px){
    .promotionML-1{
        border-left: 1px solid var(--Color-red);
    }
    .promotionML-2{
        border-right: 1px solid var(--Color-red);
    }
    .promotionML-3{
        border-left: 1px solid var(--Color-red);
    }
    .promotionML-4{
        border-right: 1px solid var(--Color-red);
    }
}